.account-page {
  padding: 50px 0;
  background: radial-gradient(#fff, #ffd6d6);
}

.user-menu {
  position: absolute;
  top: 120%;
  left: 0;
  padding-left: 0;
  background-color: rgb(253, 225, 63);
  border-radius: 2px;
  width: 120px;
  list-style: none;
  z-index: 99;
  display: none;
  transition: 0.2s;
}

.user-menu-item a {
  font-size: 14px;
  padding: 4px 16px;
  display: inline-block;
}

.user-menu :hover {
  color: #ff4040;
}

.user-menu::before {
  content: "";
  border-width: 20px 27px;
  border-style: solid;
  border-color: transparent transparent rgb(248, 222, 71) transparent;
  position: absolute;
  right: 20px;
  top: -29px;
}

.user-menu::after {
  content: "";
  position: absolute;
  display: block;
  top: -7px;
  right: 4px;
  width: 100px;
  height: 10px;
}

.nav_user:hover .user-menu {
  display: block;
}


.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
}



.categories {
  margin: 70px 0;
}

.row-2 {
  justify-content: space-between;
}

select {
  border: 1px solid #ff523b;
  padding: 5px;
}

select:focus {
  outline: none;
}

.page-btn {
  margin: 0 auto 80px;
  text-align: right;
}

.page-btn span {
  display: inline-block;
  border: 1px solid #ff523b;
  margin-left: 10px;
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}

.page-btn span:hover {
  background : #ff523b;
  color : #fff;
}

.active {
  background : #ff523b;
  color : #fff;
}